main {
    margin-left: 5rem;
    padding: 1rem;
  }

  #gamepg {
    background-color: rgb(56, 54, 54);
    z-index: 1;
  }

  .run {
    text-align: center;
    border: 2px solid black;
    padding: 1em;
    background-color: gray;
    margin-bottom: 50px;
  }

  .snake {
    text-align: center;
    border: 2px solid black;
    padding: 1em;
    background-color: gray;
    margin-bottom: 50px;
  }

  .pong {
    text-align: center;
    border: 2px solid black;
    padding: 1em;
    background-color: gray;
    margin-bottom: 50px;
  }

  h1 {
    text-align: center;
    color: white;
  }

  p {
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-bottom: 50px;
  }